<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <script src="lib/angularjs/angular.js"></script>
    <title>Lista Telefonica</title>
    <style>
        .jumbotron {
            max-width: 450px;
            margin: 0 auto;
        }

        .selecionado {
            background: red;
        }

        .negrito {
            font-weight: bold;
        }
    </style>
    <script>
        angular.module("listaTelefonica", []);

        // O $scope seria o garçom, medicação entre a view e o controller
        angular.module("listaTelefonica").controller("listaTelefonicaController", ($scope) => {

            //Binding, pega a informação daqui, do controller/$scope e joga pra view
            $scope.message = 'Lista Telefonica';
            $scope.contatos = [
                {
                    nome: 'Kelly',
                    telefone: '(11) 97952-4567'
                },
                {
                    nome: 'Pedro',
                    telefone: '(31) 97865-9876'
                },
                {
                    nome: 'Claudia',
                    telefone: '(12) 97654-3423'
                }
            ];
            $scope.operadoras = [
                {
                    nome: 'Oi',
                    codigo: 14,
                    categoria: 'Celular'
                },
                {
                    nome: 'Vivo',
                    codigo: 15,
                    categoria: 'Celular'
                },
                {
                    nome: 'Tim',
                    codigo: 41,
                    categoria: 'Celular'
                },
            ];

            //O ngModel, ele vai pegar da view (input) e jogar aqui pro controller/$scope
            $scope.adicionarContato = (contato) => {

                //angular.copy é para criar uma cópia, após adicionar na lista, quando mexo nos inputs não altera o valor
                $scope.contatos.push(angular.copy(contato));

                //delete é para deletar o objeto após a execução.
                //limpa os input
                delete $scope.contato
            }

            $scope.deletarContato = (contatos) => {
                let contatosSelecionados = contatos.filter((contato) => {
                    if (contato.selecionado) {
                        return contato;
                    }
                })
                console.log(contatosSelecionados)
            }
        })
    </script>
</head>

<body ng-controller="listaTelefonicaController">
    <div class="jumbotron">
        <h4 class="text-center mb-4">{{ message }}</h4>
        {{contatos}}
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
            </tr>
            <tr ng-repeat="contato in contatos" ng-class="{ 'selecionado negrito': contato.selecionado}">
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{ contato.nome }}</td>
                <td>{{ contato.telefone }}</td>
                <td>{{ contato.operadora.nome }}</td>
            </tr>
            {{contato}}
        </table>
        <hr>
        <input class="form-control mb-3" type="text" ng-model="contato.nome" placeholder="Nome">
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">
        <select class="form-control mt-3" ng-model="contato.operadora"
            ng-options="operadora.nome for operadora in operadoras">
            <option value="">Selecione uma Operadora</option>
        </select>
        <button class="btn btn-primary btn-block mt-3" ng-click="adicionarContato(contato)"
            ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
        <button class="btn btn-danger btn-block mt-3" ng-click="deletarContato(contatos)">Deletar Contato</button>
    </div>
</body>

</html>