<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <script src="lib/angularjs/angular.js"></script>
    <title>Lista Telefonica</title>
    <style>
        .jumbotron {
            max-width: 450px;
            margin: 0 auto;
        }

        .selecionado {
            background: red;
        }

        .negrito {
            font-weight: bold;
        }
    </style>
    <script>
        angular.module("listaTelefonica", []);

        // O $scope seria o garçom, medicação entre a view e o controller
        angular.module("listaTelefonica").controller("listaTelefonicaController", ($scope) => {

            //Binding, pega a informação daqui, do controller/$scope e joga pra view
            $scope.message = 'Lista Telefonica';
            $scope.contatos = [
                {
                    nome: 'Kelly',
                    telefone: '(11) 97952-4567'
                },
                {
                    nome: 'Pedro',
                    telefone: '(31) 97865-9876'
                },
                {
                    nome: 'Claudia',
                    telefone: '(12) 97654-3423'
                }
            ];
            $scope.operadoras = [
                {
                    nome: 'Oi',
                    codigo: 14,
                    categoria: 'Celular'
                },
                {
                    nome: 'Vivo',
                    codigo: 15,
                    categoria: 'Celular'
                },
                {
                    nome: 'Tim',
                    codigo: 41,
                    categoria: 'Celular'
                },
            ];

            //O ngModel, ele vai pegar da view (input) e jogar aqui pro controller/$scope
            $scope.adicionarContato = (contato) => {

                //angular.copy é para criar uma cópia, após adicionar na lista, quando mexo nos inputs não altera o valor
                $scope.contatos.push(angular.copy(contato));

                //delete é para deletar o objeto após a execução.
                //limpa os input
                delete $scope.contato;
                $scope.contatoForm.$setPristine();
            }

            $scope.deletarContato = (contatos) => {
                $scope.contatos = contatos.filter((contato) => {
                    if (!contato.selecionado) {
                        return contato;
                    }
                })
            }

            $scope.isContatoSelecionado = (contatos) => {
                return contatos.some((contato) => {
                    return contato.selecionado;
                })
            }
        })
    </script>
</head>

<body ng-controller="listaTelefonicaController">
    <div class="jumbotron">
        <h4 class="text-center mb-4">{{ message }}</h4>
        <table class="table" ng-show="contatos.length > 0">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
            </tr>
            <tr ng-repeat="contato in contatos" ng-class="{ 'selecionado negrito': contato.selecionado}">
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{ contato.nome }}</td>
                <td>{{ contato.telefone }}</td>
                <td>{{ contato.operadora.nome }}</td>
            </tr>
        </table>
        <hr>
        <form name="contatoForm">
            <input 
                class="form-control mb-3" 
                type="text" 
                placeholder="Nome"
                name="nome"
                ng-model="contato.nome"
                ng-required="true">
            
            <input 
                class="form-control" 
                type="text" 
                placeholder="Telefone"
                name="telefone"
                ng-model="contato.telefone"
                ng-required="true">
            
                <select class="form-control mt-3" ng-model="contato.operadora"
                ng-options="operadora.nome for operadora in operadoras">
                <option value="">Selecione uma Operadora</option>
            </select>
        </form>
        <div ng-show="contatoForm.nome.$invalid && contatoForm.nome.$dirty" class="alert alert-danger mt-3">
            Por favor, preencha o campo nome!
        </div>
        <div ng-show="contatoForm.telefone.$invalid && contatoForm.telefone.$dirty" class="alert alert-danger mt-3">
            Por favor, preencha o campo telefone!
        </div>
        <button 
            class="btn btn-primary btn-block mt-3" 
            ng-click="adicionarContato(contato)"
            ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
        
        <button 
            class="btn btn-danger btn-block mt-3" 
            ng-click="deletarContato(contatos)"
            ng-disabled="!isContatoSelecionado(contatos)">Deletar Contato</button>
    </div>
</body>

</html>